---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">
      {% if post.content contains '<!--more-->' %} {{ post.excerpt }} {% else %}
      {{ post.excerpt | markdownify | strip_html | truncate: 160 }} {% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"
      >더보기&nbsp;
      <!-- &#183; -->
      {% include read-time.html content=post.content %}</a
    >
  </article>
  {% endfor %} {% include pagination.html %}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <p style="text-align: center; margin-bottom: 0">
      <span style="font-size: 13pt"
        ><b
          ><span style="font-size: 18pt">공지) 1억 만들기 PLAN(7년)</span></b
        ></span
      >
    </p>
    <p style="text-align: center; line-height: 1.4">
      <br />
      <span style="display: inline; box-shadow: inset 0 -10px 0 #d9fcdb"
        >한국은행 기준금리</span
      >
      <br />
      3.5%(23.07.19기준)<br />
      <br />
      <span style="display: inline; box-shadow: inset 0 -10px 0 #d9fcdb"
        >보험사 금리</span
      >
      <br />
      10년이내 3.25% 금리 적용<br />
      10년초과 2% 확정금리(평생) <br />
      <br />
      월 160만원 3년<br />
      80만원 2년<br />
      40만원 2년<br />
    </p>
    <p style="text-align: center; margin-top: -37px; margin-bottom: 0px">
      +__________________
    </p>
    <p style="text-align: center; line-height: 1.4; margin-bottom: 17px">
      7년 후 1억 <br />

      <br />
      <b><해택></b><br />
      사망시 사망보험금 보장<br />
      납입면제 <br />
      <b>복리</b>,비과세 <br />
      카드납 가능<br />
      상속, 증여 가능
    </p>
    <div
      style="
        cursor: pointer;
        background-color: #dddddd;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
      "
      onClick="close_pop();"
    >
      <span class="pop_bt" style="font-size: 13pt"> 닫기 </span>
    </div>
  </div>
</div>

<div id="myModal2" class="modal">
  <!-- Modal content -->
  <div class="modal-content2">
    <p style="text-align: center">
      <span style="font-size: 11pt">
        <b><span style="font-size: 20pt">공지</span></b></span
      >
    </p>
    <img src="/assets/image/save.jpg" style="width: 100%" alt="" />
    <div
      style="
        cursor: pointer;
        background-color: #dddddd;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
      "
      onClick="close_pop2();"
    >
      <span class="pop_bt" style="font-size: 13pt"> 닫기 </span>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function () {
    $("#myModal").show();
    $("#myModal2").show();
  });
  //팝업 Close 기능
  function close_pop(flag) {
    $("#myModal").hide();
  }
  function close_pop2(flag) {
    $("#myModal2").hide();
  }
</script>
<!--End Modal-->
